In [451]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')
from sklearn.cross_validation import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report
import sklearn.metrics
data=pd.read_csv("student-data.csv")
import os
import matplotlib.pylab as plt

In [452]:
print(data.shape)

(395, 31)

In [453]:
data_clean=data.dropna()
data_clean.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000

In [454]:
data.count
data["passed"].value_counts()

yes    265
no     130
Name: passed, dtype: int64

In [455]:
subset_reason=data.iloc[:,10]
data["reason"].value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [456]:
from sklearn import preprocessing
lb_make = preprocessing.LabelEncoder()
data["reason_code"] = lb_make.fit_transform(data["reason"])
data["guardian_code"] = lb_make.fit_transform(data["guardian"])
data["higher_code"] = lb_make.fit_transform(data["higher"])
data["paid_code"] = lb_make.fit_transform(data["paid"])

In [457]:
data[["reason", "reason_code"]].head(6)

       reason  reason_code
0      course            0
1      course            0
2       other            2
3        home            1
4        home            1
5  reputation            3

In [458]:
data[["guardian",  "guardian_code"]].head(15)

   guardian  guardian_code
0    mother              1
1    father              0
2    mother              1
3    mother              1
4    father              0
5    mother              1
6    mother              1
7    mother              1
8    mother              1
9    mother              1
10   mother              1
11   father              0
12   father              0
13   mother              1
14    other              2

In [459]:
data[["higher", "higher_code"]].head

<bound method NDFrame.head of     higher  higher_code
0      yes            1
1      yes            1
2      yes            1
3      yes            1
4      yes            1
5      yes            1
6      yes            1
7      yes            1
8      yes            1
9      yes            1
10     yes            1
11     yes            1
12     yes            1
13     yes            1
14     yes            1
15     yes            1
16     yes            1
17     yes            1
18     yes            1
19     yes            1
20     yes            1
21     yes            1
22     yes            1
23     yes            1
24     yes            1
25     yes            1
26     yes            1
27     yes            1
28     yes            1
29     yes            1
..     ...          ...
365    yes            1
366    yes            1
367    yes            1
368    yes            1
369    yes            1
370    yes            1
371     no            0
372    yes            1
373    yes            1
374    yes            1
375    yes            1
376    yes            1
377    yes            1
378    yes            1
379    yes            1
380    yes            1
381    yes            1
382    yes            1
383    yes            1
384    yes            1
385    yes            1
386    yes            1
387    yes            1
388    yes            1
389    yes            1
390    yes            1
391    yes            1
392    yes            1
393    yes            1
394    yes            1

[395 rows x 2 columns]>

In [460]:
data[["paid", "paid_code"]].head(3)

  paid  paid_code
0   no          0
1   no          0
2  yes          1

In [461]:
data_clean=data.dropna()
data_clean.describe()
print("Definition de predicteurs: ")
predictors = data_clean[["higher_code","paid_code","studytime","reason_code","guardian_code","failures"]]

Definition de predicteurs:

In [462]:
targets = lb_make.fit_transform(data_clean["passed"])
pred_train, pred_test, tar_train, tar_test = train_test_split(predictors, targets, test_size=300)

In [463]:
pred_train.shape
pred_test.shape
tar_train.shape
tar_test.shape

(300,)

In [464]:
classifier=DecisionTreeClassifier()
classifier=classifier.fit(pred_train,tar_train)

In [465]:
print("Matrice de confusion:")
predictions=classifier.predict(pred_test)
sklearn.metrics.confusion_matrix(tar_test,predictions)

Matrice de confusion:

array([[ 54,  35],
       [ 74, 137]], dtype=int64)

In [466]:
print("Accuracy: ")
sklearn.metrics.accuracy_score(tar_test, predictions)

Accuracy:

0.6366666666666667

In [467]:
print("Precision: ")
sklearn.metrics.precision_score(tar_test, predictions)

Precision:

0.7965116279069767

In [468]:
print("Recall: ")
sklearn.metrics.recall_score(tar_test, predictions)

Recall:

0.6492890995260664

In [469]:
print("F1 Score: ")
sklearn.metrics.f1_score(tar_test, predictions)

F1 Score:

0.7154046997389034

In [470]:
from sklearn import tree
from io import StringIO
from IPython.display import Image

In [471]:
out = StringIO()
tree.export_graphviz(classifier, out_file="treeStudents.dot")