In [107]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
from mpl_toolkits.mplot3d import Axes3D
plt.rcParams['figure.figsize'] = (16, 9)
plt.style.use('ggplot')
from sklearn.cross_validation import train_test_split
import sklearn.metrics
data=pd.read_csv("student-data.csv")
import os
import matplotlib.pylab as plt

In [108]:
print(data.shape)

(395, 31)

In [109]:
data_clean=data.dropna()
data_clean.describe()

,age,Medu,Fedu,traveltime,studytime,failures,famrel,freetime,goout,Dalc,Walc,health,absences
count,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000,395.000000
mean,16.696203,2.749367,2.521519,1.448101,2.035443,0.334177,3.944304,3.235443,3.108861,1.481013,2.291139,3.554430,5.708861
std,1.276043,1.094735,1.088201,0.697505,0.839240,0.743651,0.896659,0.998862,1.113278,0.890741,1.287897,1.390303,8.003096
min,15.000000,0.000000,0.000000,1.000000,1.000000,0.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,0.000000
25%,16.000000,2.000000,2.000000,1.000000,1.000000,0.000000,4.000000,3.000000,2.000000,1.000000,1.000000,3.000000,0.000000
50%,17.000000,3.000000,2.000000,1.000000,2.000000,0.000000,4.000000,3.000000,3.000000,1.000000,2.000000,4.000000,4.000000
75%,18.000000,4.000000,3.000000,2.000000,2.000000,0.000000,5.000000,4.000000,4.000000,2.000000,3.000000,5.000000,8.000000
max,22.000000,4.000000,4.000000,4.000000,4.000000,3.000000,5.000000,5.000000,5.000000,5.000000,5.000000,5.000000,75.000000

In [110]:
data.count
data["passed"].value_counts()

yes    265
no     130
Name: passed, dtype: int64

In [111]:
subset_reason=data.iloc[:,10]
data["reason"].value_counts()

course        145
home          109
reputation    105
other          36
Name: reason, dtype: int64

In [112]:
from sklearn import preprocessing
lb_make = preprocessing.LabelEncoder()
data["reason_code"] = lb_make.fit_transform(data["reason"])
data["guardian_code"] = lb_make.fit_transform(data["guardian"])
data["higher_code"] = lb_make.fit_transform(data["higher"])
data["paid_code"] = lb_make.fit_transform(data["paid"])

In [113]:
data[["reason", "reason_code"]].head(6)

       reason  reason_code
0      course            0
1      course            0
2       other            2
3        home            1
4        home            1
5  reputation            3

In [114]:
data[["guardian",  "guardian_code"]].head(15)

   guardian  guardian_code
0    mother              1
1    father              0
2    mother              1
3    mother              1
4    father              0
5    mother              1
6    mother              1
7    mother              1
8    mother              1
9    mother              1
10   mother              1
11   father              0
12   father              0
13   mother              1
14    other              2

In [115]:
data[["higher", "higher_code"]].head

<bound method NDFrame.head of     higher  higher_code
0      yes            1
1      yes            1
2      yes            1
3      yes            1
4      yes            1
5      yes            1
6      yes            1
7      yes            1
8      yes            1
9      yes            1
10     yes            1
11     yes            1
12     yes            1
13     yes            1
14     yes            1
15     yes            1
16     yes            1
17     yes            1
18     yes            1
19     yes            1
20     yes            1
21     yes            1
22     yes            1
23     yes            1
24     yes            1
25     yes            1
26     yes            1
27     yes            1
28     yes            1
29     yes            1
..     ...          ...
365    yes            1
366    yes            1
367    yes            1
368    yes            1
369    yes            1
370    yes            1
371     no            0
372    yes            1
373    yes            1
374    yes            1
375    yes            1
376    yes            1
377    yes            1
378    yes            1
379    yes            1
380    yes            1
381    yes            1
382    yes            1
383    yes            1
384    yes            1
385    yes            1
386    yes            1
387    yes            1
388    yes            1
389    yes            1
390    yes            1
391    yes            1
392    yes            1
393    yes            1
394    yes            1

[395 rows x 2 columns]>

In [116]:
data[["paid", "paid_code"]].head(3)

  paid  paid_code
0   no          0
1   no          0
2  yes          1

In [136]:
data_clean=data.dropna()
data_clean.describe()
predictors = data_clean[["higher_code","paid_code","studytime","reason_code","guardian_code","failures"]]

In [137]:
targets = lb_make.fit_transform(data_clean["passed"])
pred_train, pred_test, tar_train, tar_test = train_test_split(predictors, targets, random_state=42)

In [138]:
pred_train.shape
pred_test.shape
tar_train.shape
tar_test.shape

(99,)

In [139]:
from sklearn.linear_model import LogisticRegression
logreg=LogisticRegression()
logreg.fit(pred_train,tar_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [140]:
tar_pred_class=logreg.predict(pred_test)
print(tar_test)

[1 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 0 0
 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 0 1 1 1
 1 0 0 1 0 1 1 0 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 1 1]

In [141]:
from sklearn import metrics
print("Accuracy:{}".format(metrics.accuracy_score(tar_test,tar_pred_class)))

Accuracy:0.7171717171717171

In [142]:
tar_test.mean()

0.6363636363636364

In [143]:
1-tar_test.mean()

0.36363636363636365

In [144]:
print("True: ",tar_test)

True:  [1 1 0 1 0 1 1 0 0 1 1 0 1 1 1 0 0 1 1 0 1 1 1 0 0 1 1 1 1 1 0 1 1 1 0 0 0
 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 0 1 1 0 1 1 1 1 1 0 0 1 0 1 0 1 0 1 1 1
 1 0 0 1 0 1 1 0 0 0 0 1 0 1 1 0 1 0 1 1 0 0 1 1 1]

In [145]:
print("Pred: ",tar_pred_class)

Pred:  [0 1 0 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0
 1 1 0 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 0 1 0 1 0 1 1 1 1 1 1 1
 1 1 1 1 0 1 1 0 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1]

In [146]:
print(metrics.confusion_matrix(tar_test,tar_pred_class))

[[10 26]
 [ 2 61]]

In [147]:
confusion=metrics.confusion_matrix(tar_test,tar_pred_class)
TP=confusion[1,1]
TN=confusion[0,0]
FP=confusion[0,1]
FN=confusion[1,0]

In [148]:
print("Classification Accuracy: ")
print("Question: Globalement, quel est le pourcentage ou le modele est correct: ")
print((TP+TN)/float(TP+TN+FP+FN))
print(metrics.accuracy_score(tar_test,tar_pred_class))

Classification Accuracy:
Question: Globalement, quel est le pourcentage ou le modele est correct:
0.7171717171717171
0.7171717171717171

In [149]:
print("Classification Error: ")
print("Question: Globalement, quel est le pourcentage ou le modele est incorrect: ")
print((FP+FN)/float(TP+TN+FP+FN))
print(1-metrics.accuracy_score(tar_test,tar_pred_class))

Classification Error:
Question: Globalement, quel est le pourcentage ou le modele est incorrect:
0.2828282828282828
0.2828282828282829

In [150]:
print("Sensitivity: True positive Rate ou Recall")
print("Question: Quand la valeur vraie est positive, combien de fois la prediction est correcte: ")
print((TP)/float(TP+FN))

Sensitivity: True positive Rate ou Recall
Question: Quand la valeur vraie est positive, combien de fois la prediction est correcte:
0.9682539682539683

In [151]:
print("Specificity: ")
print("Question: Quand la valeur vraie est negative, combien de fois la prediction est correcte: ")
print((TN)/float(TN+FP))

Specificity:
Question: Quand la valeur vraie est negative, combien de fois la prediction est correcte:
0.2777777777777778

In [152]:
print("False positive rate: ")
print("Question: Quand la valeur vraie est negative, combien de fois la prediction est incorrecte: ")
print((FP)/float(TN+FP))

False positive rate:
Question: Quand la valeur vraie est negative, combien de fois la prediction est incorrecte:
0.7222222222222222

In [158]:
print("Precision: ")
print("Question: Quand une valeur positive est predite, combien de fois la prediction est correcte: ")
print((TP)/float(TP+FP))
print(metrics.precision_score(tar_test,tar_pred_class))

Precision:
Question: Quand une valeur positive est predite, combien de fois la prediction est correcte:
0.7011494252873564
0.7011494252873564